/* 动态渐变背景 */
@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animated-background {
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
}

/* 视频背景样式 */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 确保视频覆盖整个容器，而不改变其宽高比 */
    z-index: -1; /* 设置视频在页面内容的背景 */
}

/* 其他登录页面样式 */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);  /* 半透明白色背景 */
    border-radius: 10px;  /* 圆角边框 */
    padding: 20px;  /* 内边距 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* 轻微的阴影效果 */
    width: 100%;  /* 宽度，可根据需要调整 */
    max-width: 360px;  /* 最大宽度 */
    margin: auto;  /* 水平居中 */
    position: relative;  /* 相对定位 */
    z-index: 2;  /* 确保在视频之上 */
}