/* 功能页面的整体容器样式 */
.function-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* 视频背景样式 */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 确保视频覆盖整个容器，而不改变其宽高比 */
    z-index: -1; /* 设置视频在页面内容的背景 */
}

/* 内容包裹器，控制内容的宽度和布局 */
.content-wrapper {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* 半透明背景 */
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 标题样式 */
.title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

/* 按钮样式 */
.modal-content {
    background-color: #ffffff;
    margin: 10% auto;  /* 调整居中显示 */
    padding: 40px;  /* 增加内边距 */
    border: 1px solid #ccc;
    width: 50%;  /* 优化宽度 */
    max-width: 600px;  /* 最大宽度限制 */
    border-radius: 8px;  /* 圆角 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  /* 添加阴影 */
    position: relative;  /* 定位调整 */
}

.modal input[type="text"] {
    width: calc(100% - 20px);  /* 宽度调整，考虑内边距 */
    padding: 10px;  /* 内边距增加 */
    margin: 10px 0;  /* 增加上下边距 */
    border-radius: 4px;  /* 输入框圆角 */
    border: 1px solid #ddd;  /* 边框颜色 */
    box-sizing: border-box;  /* 盒模型调整 */
}

.function-button, .modal button {
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;  /* 增加圆角 */
    border: none;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.function-button:hover, .modal button:hover {
    background-color: #0056b3;  /* 悬停颜色变化 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);  /* 悬停添加阴影 */
}
