.teacher-function-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 使得页面内容垂直居中 */
}

.buttons-container {
    display: flex;
    flex-direction: column; /* 修改方向为列 */
    gap: 20px; /* 设置按钮之间的间距，保持为 20px */
}


/*窗口界面设置*/
/*窗口界面设置*/
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

input[type="text"] {
    width: calc(100% - 20px); /* 减去内边距的总宽度 */
    padding: 10px;
    margin-top: 20px; /* 增加顶部边距 */
    border: 1px solid #ccc; /* 添加输入框边框 */
    box-sizing: border-box;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



input[type="text"] {
    width: calc(100% - 20px); /* 减去内边距的总宽度 */
    padding: 10px;
    margin-top: 20px; /* 增加顶部边距 */
    border: 1px solid #ccc; /* 添加输入框边框 */
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin-top: 20px; /* 按钮与输入框间的边距 */
    width: 100%;
    box-sizing: border-box;
    background-color: #007BFF; /* 按钮背景色 */
    color: white; /* 按钮文本颜色 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #f44336; /* 明亮的红色背景 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10%; /* 相对宽度 */
}

.logout-button:hover {
    background-color: #c2302b; /* 鼠标悬停时更深的红色 */
}
